

     
    <!-- header area -->
    <section class="header header--1">
        
  

        
      <!-- start menu area -->
      <div class="menu_area menu1">
          <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light bg-light px-0">
                  <a class="navbar-brand order-sm-1 order-1" href="#"><img src="../../../assets/img/logo1.png" alt=""/></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="la la-bars"></span>
                  </button>
  
                  <div class="collapse navbar-collapse order-md-1" id="navbarSupportedContent">    
      <ul class="navbar-nav m-auto">
          <li class="nav-item active dropdown">
              <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
              </a>
              
          </li>
          <li class="nav-item has_mega-lg dropdown">
              <a class="nav-link" href="#">Partners</a>
              
          </li>
          <li class="nav-item has_mega-lg dropdown">
              <a class="nav-link" href="#">Mentors</a>
              
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">Login</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="about-one.html">I have an idea</a>
                  <a class="dropdown-item" href="about-two.html">I wanna help</a>
              </div>
          </li>       
      </ul><!-- end: .navbar-nav -->
  
                  </div>
  
                  <div class="nav_right_content d-flex align-items-center order-2 order-sm-2">
                      <div class="nav_right_module search_module">
                          <span class="la la-search search_trigger"></span>
  
                          <div class="search_area">
                              <form action="#">
                                  <div class="input-group input-group-light">
                                      <span class="icon-left" id="basic-addon7"><i class="la la-search"></i></span>
                                      <input type="text" class="form-control search_field" placeholder="Type words and hit enter...">
                                  </div>
                              </form>
                          </div>
                      </div><!-- end ./search_module -->
  
                  </div>
              </nav>
          </div>
      </div><!-- end menu area -->
  
      </section><!-- end: .header -->